&__arrow
  position absolute
  border 12px solid transparent

  &--up
    left 130px
    top -24px
    border-bottom 12px solid #ffffff

  &--right
    right -24px
    bottom 130px
    z-index 10
    border-left 12px solid #ffffff

  &--down
    left 130px
    bottom -24px
    z-index 10
    border-top 12px solid #ffffff

  &--left
    left  -24px
    bottom 134px
    border-right 12px solid #ffffff
