body {
  margin: 0;
}
/*Блок для размещения шапки сайта*/
.header {
  min-height: 348px;
  background-color: #36383b;
}
.header__bg {
  min-height: 348px;
  width: 50%;
}
.header__bg_theme-gray {
  background-color: #d6d6d6;
}
.header__content {
  width: 1172px;
}
.header__content-bg {
  width: 879px;
  min-height: 348px;
}
.header__content-bg_theme-red {
  background-color: #f00;
}
.header__content-bg_theme-gray {
  background-color: #d6d6d6;
}
.header__container_theme-green {
  background-color: #008000;
}
/*примесь для фона шапки*/
.header__bg-inner {
  position: absolute;
}
/*примесь для контента шапки сайта*/
.header__content-inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*примесь для фона контента шапки сайта*/
.header__content-bg-inner {
  position: absolute;
}
/*примесь для содержимого контента шапки*/
.header__content-container-inner {
  position: relative;
  top: 29px;
}
/*Блок для контента*/
.content {
  width: 800px;
  min-height: 50px;
}
.content_theme-grey {
  background-color: #808080;
  opacity: 0.5;
}
/*примесь для меню в контенте шапки*/
.content__menu {
  position: absolute;
  top: 25px;
  right: 0;
}
/*примесь для названия страницы*/
.content__caption {
  margin-top: 84px;
}
/*====================Блок лого=================*/
.logo {
  width: 83px;
  height: 83px;
  background: url("../img/layer-logo.png") no-repeat;
}
.logo__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.logo__text_middle-right-place {
  display: block;
  position: relative;
  top: 26px;
  left: 28px;
}
/*====================Блок меню==================*/
.menu__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__items::after {
  content: "";
  display: table;
  clear: both;
}
.menu__item {
  float: left;
  margin-right: 40px;
}
.menu__item_text {
  text-decoration: none;
}
.menu__item_facebook-theme {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36.12px;
}
.menu__item_twitter-theme {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.12px;
}
.menu__item_icon-theme {
  padding-top: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item-layer {
  position: relative;
}
.menu__icon-super {
  position: absolute;
  top: -10px;
  right: -15px;
}
.menu__icon-super_theme-text {
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}
.menu__icon-super_theme-sq-yellow {
  width: 21px;
  height: 16px;
  text-align: center;
  background-color: #ffe400;
}
/*====================Блок с названием страницы=========*/
.caption {
  width: 293px;
  height: 71px;
  background-color: #fff;
}
.caption__text {
  display: block;
  position: relative;
  top: 20px;
  left: 28px;
  color: #363636;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
/*====================Блок Тело сайта=========================*/
.main {
  min-height: 500px;
}
.main_theme-white-gr {
  background-color: #f5f5f5;
}
.main__content {
  width: 1172px;
  min-height: 450px;
}
.main__content_theme-grey {
  background-color: #d6d6d6;
}
.main__content-inner {
  margin-left: auto;
  margin-right: auto;
}
.main__content-inner::after {
  content: "";
  display: table;
  clear: both;
}
.main__column-main {
  width: 879px;
  min-height: 400px;
}
.main__column-main_theme-inline {
  font-size: 0;
}
.main__column-aside {
  width: 293px;
  min-height: 400px;
}
.main__column-inner-left {
  margin-right: 293px;
}
.main__column-inner-right {
  float: right;
}
.main__double-unit {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/*!!!!!=============Информационный блок=======================!!!!!*/
.unit {
  width: 233px;
  height: 233px;
  padding: 30px 30px;
}
.unit_theme-info {
  background-color: #fff;
}
.unit_theme-foto {
  background-color: #d6d6d6;
}
.unit_theme-blue {
  background-color: #2998d6;
}
.unit_theme-yello {
  background-color: #ffe12a;
}
.unit_theme-pdf-icon-yellow {
  background: #ffe400 url("../img/icon-pdf.png") no-repeat 120px 102px;
}
.unit_theme-star-icon-yellow {
  background: #ffe400 url("../img/icon-star.png") no-repeat 108px 101px;
}
.unit__title {
  width: 155px;
  margin-top: 0;
}
.unit__title_theme-head {
  color: #363636;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}
.unit__title_theme-head-aside {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}
.unit__title_theme-head-aside-small {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}
.unit__mark_theme-blue-white {
  color: #8bcffb;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.unit__article_theme-text {
  color: #989898;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.unit__horizontal {
  width: 40px;
  margin-left: 0;
  border-width: 3px;
}
.unit__horizontal_black-solid {
  border: solid #363636;
}
.unit__horizontal_white-solid {
  border: solid #fff;
}
.unit__number {
  width: 71px;
  height: 71px;
}
.unit__number_theme-yellow {
  background-color: #ffe400;
  color: #363636;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.unit__number_middle {
  display: inline-block;
}
.unit__icon-caption {
  display: block;
  position: relative;
  top: 160px;
  text-align: center;
}
.unit__icon-caption_uppercase-text-black {
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08px;
}
.unit__arrow {
  position: absolute;
  border: 12px solid transparent;
}
.unit__arrow_down {
  left: 130px;
  border-top: 12px solid #fff;
}
.unit__arrow_up {
  top: 269px;
  left: 130px;
  border-bottom: 12px solid #fff;
}
.unit__inner-form-aside {
  position: relative;
  bottom: -40px;
}
/*===========================Блок форма==============================*/
.form__input_theme-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.form__input_theme-blue-text {
  color: #59a9d6;
}
.form__input_theme-aside-input {
  width: 100%;
  padding: 13px 7px;
  box-sizing: border-box;
}
.form__submit_theme-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__submit_theme-white-text {
  color: #fff;
}
.form__submit_theme-aside-submit {
  float: right;
  margin-top: 30px;
  border: none;
  background-color: #2297d8;
}
.form::after {
  content: "";
  display: table;
  clear: both;
}
/*Футер сайта*/
.footer {
  min-height: 80px;
}
.footer_theme-white-grey {
  background-color: #f5f5f5;
}
.footer_theme-text {
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}
.footer_theme-text-mark {
  color: #2297d8;
}
.footer_theme-text-menu {
  color: #a2a2a2;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}
.footer__content {
  width: 1172px;
  min-height: 80px;
}
.footer__content_theme-grey {
  background-color: #f5f5f5;
}
.footer__inner {
  margin-left: auto;
  margin-right: auto;
}
.footer__container__container-inner {
  position: relative;
  top: 29px;
}
.footer__container__text-inner {
  display: inline-block;
}
.footer__container__menu-inner {
  float: right;
}
.footer__container::after {
  content: "";
  display: table;
  clear: both;
}
