body {
  margin: 0;
}
/*Блок для размещения шапки сайта*/
.header {
  min-height: 348px;
  background-color: #36383b;
}
.header--theme-home-page {
  min-height: 240px;
}
.header__bg {
  min-height: 348px;
  width: 50%;
}
.header__bg_theme-gray {
  background-color: #d6d6d6;
}
.header__bg--theme-dark-grey {
  background-color: #36383b;
}
.header__bg--height-home-page {
  min-height: 826px;
}
.header__bg--part-right {
  margin-left: 50%;
}
.header__content {
  width: 1172px;
}
.header__content-bg {
  width: 879px;
  min-height: 348px;
}
.header__content-bg_theme-red {
  background-color: #f00;
}
.header__content-bg_theme-gray {
  background-color: #d6d6d6;
}
.header__content-bg--height-home-page {
  min-height: 826px;
}
.header__container_theme-green {
  background-color: #008000;
}
/*примесь для фона шапки*/
.header__bg-inner {
  position: absolute;
}
/*примесь для контента шапки сайта*/
.header__content-inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*примесь для фона контента шапки сайта*/
.header__content-bg-inner {
  position: absolute;
}
/*примесь для содержимого контента шапки*/
.header__content-container-inner {
  position: relative;
  top: 29px;
}
/*Блок для контента*/
.content {
  width: 800px;
  min-height: 50px;
}
.content_theme-grey {
  background-color: #808080;
  opacity: 0.5;
}
/*примесь для меню в контенте шапки*/
.content__menu {
  position: absolute;
  top: 25px;
  right: 0;
}
/*примесь для названия страницы*/
.content__caption {
  margin-top: 84px;
}
/*====================Блок лого=================*/
.logo {
  width: 83px;
  height: 83px;
  background: url("../img/layer-logo.png") no-repeat center;
}
.logo--theme-home-page {
  background: url("../img/layer-logo-black.png") no-repeat center;
}
.logo__text {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.logo__text--text-black {
  color: #363636;
}
.logo__text-inner {
  display: block;
  position: relative;
  top: 26px;
  left: 21px;
}
/*====================Блок меню==================*/
.menu__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__items::after {
  content: "";
  display: table;
  clear: both;
}
.menu__item {
  float: left;
  margin-right: 40px;
}
.menu__item_text {
  text-decoration: none;
}
.menu__item_facebook-theme {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36.12px;
}
.menu__item_twitter-theme {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.12px;
}
.menu__item_icon-theme {
  padding-top: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item-layer {
  position: relative;
}
.menu__icon-super {
  position: absolute;
  top: -10px;
  right: -15px;
}
.menu__icon-super_theme-text {
  color: #363636;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 600;
  vertical-align: super;
}
.menu__icon-super_theme-sq-yellow {
  width: 21px;
  height: 15px;
  text-align: center;
  background-color: #ffe400;
}
/*====================Блок с названием страницы=========*/
.caption {
  width: 293px;
  height: 71px;
  background-color: #fff;
}
.caption__text {
  display: block;
  position: relative;
  top: 20px;
  left: 28px;
  color: #363636;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
/*====================Блок Тело сайта=========================*/
.main {
  min-height: 500px;
}
.main--theme-white-gr {
  background-color: #f5f5f5;
}
.main__content {
  position: relative;
  width: 1172px;
  min-height: 450px;
}
.main__content--theme-grey {
  background-color: #d6d6d6;
}
.main__content--theme-transparent {
  background-color: transparent;
}
.main__content-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.main__content-inner {
  margin-left: auto;
  margin-right: auto;
}
.main__content-inner::after {
  content: "";
  display: table;
  clear: both;
}
.main__column-main {
  width: 879px;
}
.main__column-main--theme-inline {
  font-size: 0;
}
.main__column-aside {
  width: 293px;
}
.main__column-inner-left {
  margin-right: 293px;
}
.main__column-inner-right {
  float: right;
}
.main__double-unit {
  display: inline-block;
  vertical-align: top;
}
/*!!!!!=============Информационный блок=======================!!!!!*/
.unit {
  width: 233px;
  height: 233px;
  padding: 30px;
}
.unit--horizontal-double-unit {
  width: 526px;
}
.unit--vertical-double-unit {
  height: 526px;
}
.unit--big-bg-layer-unit {
  position: relative;
  width: 586px;
  height: 586px;
  padding: 0;
}
.unit--vertical-double-bg-layer-unit {
  position: relative;
  width: 293px;
  height: 586px;
  padding: 0;
}
.unit--inline {
  display: inline-block;
}
.unit--bg-layer-unit {
  position: relative;
  height: auto;
  width: auto;
  padding: 0;
}
.unit--bg-unit-width959 {
  position: absolute;
  height: 293px;
  width: 959px;
  padding: 0;
}
.unit--theme-info {
  background-color: #fff;
}
.unit--theme-foto {
  background-color: #d6d6d6;
}
.unit--theme-yellow {
  background-color: #ffe400;
}
.unit--theme-blue {
  background-color: #2297d8;
}
.unit--white {
  background-color: #fff;
}
.unit--soft-gold {
  background-color: #fcf3d3;
}
.unit--dark-grey {
  background-color: #36383b;
}
.unit--transparent {
  background-color: transparent;
}
.unit__title {
  margin-top: 0;
  margin-bottom: 0.7em;
  font-size: 14px;
}
.unit__title--bold {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #363636;
}
.unit__title--big-bold {
  font-size: 27px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}
.unit__title--uppercase-disabled {
  text-transform: none;
}
.unit__title--theme-unit-black-title {
  width: 294px;
  color: #363636;
}
.unit__title--text-width {
  width: 155px;
  color: #363636;
}
.unit__title--white-text {
  color: #fff;
}
.unit__title--letter-spacing018 {
  letter-spacing: 0.18px;
}
.unit__horizontal {
  width: 34px;
  margin-left: 0;
  border-width: 2px;
}
.unit__horizontal--black-solid {
  border: solid #363636;
}
.unit__horizontal--white-solid {
  border: solid #fff;
}
.unit__horizontal--width-small {
  width: 21px;
}
.unit__horizontal--opasity-half {
  opacity: 0.5;
}
.unit__horizontal--inline {
  display: inline-block;
  margin-right: 15px;
}
.unit__horizontal--inline:last-child {
  margin-right: 0;
}
.unit__info--block {
  display: block;
}
.unit__info--med-text {
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}
.unit__info--big-text {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3.94px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}
.unit__info--small-text {
  font-size: 12px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}
.unit__info--norm-bold-text {
  font-size: 14px;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
}
.unit__info--norm-text {
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}
.unit__info--black-text {
  color: #363636;
}
.unit__info--white-text {
  color: #fff;
}
.unit__info--grey-text {
  color: #a0a0a0;
}
.unit__info--dark-grey-text {
  color: #707070;
}
.unit__info--white-blue-text {
  color: #fff;
  opacity: 0.5;
}
.unit__info--letter-spacing035 {
  letter-spacing: 0.35px;
}
.unit__info--letter-spacing047 {
  letter-spacing: 0.47px;
}
.unit__info-wrap {
  display: block;
  margin: 45px 0 35px;
  text-align: center;
}
.unit__company-video-wrap {
  width: 120px;
  margin: 70px auto;
  text-align: center;
}
.unit__download-price-wrap {
  margin-top: 70px;
  text-align: center;
}
.unit__contact-us-wrap {
  margin-top: 70px;
  text-align: center;
}
.unit__form-search-wrap {
  margin-top: 100px;
}
.unit__person-info-wrap {
  text-align: center;
}
.unit__horiz-inline-center-wrap {
  font-size: 0;
  text-align: center;
}
.unit__horiz-inline-wrap {
  font-size: 0;
}
.unit__bottom-right-unit-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
}
.unit__inner-form-aside {
  position: relative;
  bottom: -52px;
}
.unit__article {
  font-size: 14px;
}
.unit__article--theme-unit-black-text {
  font-weight: 600;
  line-height: 22px;
  font-family: Montserrat, sans-serif;
  color: #363636;
}
.unit__article--gray-text {
  color: #a0a0a0;
}
.unit__article--grey-yellow-text {
  color: #777463;
}
.unit__article--text-width419 {
  width: 419px;
}
.unit__article--centered-text {
  text-align: center;
}
.unit__article--text-ind {
  text-indent: 0.5em;
}
.unit__icon-caption {
  display: block;
  position: relative;
  top: 160px;
  text-align: center;
}
.unit__button-center {
  display: block;
  margin: 16px auto;
}
.unit__button-buttom-left {
  position: relative;
  top: 21px;
}
.unit__button-left {
  margin-top: 10px;
}
.unit__arrow {
  position: absolute;
  border: 12px solid transparent;
}
.unit__arrow--down {
  left: 130px;
  bottom: -24px;
  border-top: 12px solid #fff;
}
.unit__arrow--up {
  left: 130px;
  top: -24px;
  border-bottom: 12px solid #fff;
}
.unit__number {
  width: 71px;
  padding-top: 20px;
  padding-bottom: 18px;
}
.unit__number--theme-yellow-bg {
  background-color: #ffe400;
}
.unit__number--text {
  font-size: 27px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #363636;
}
.unit__number--centered-text {
  text-align: center;
}
/*.unit
  width 233px
  height 233px
  padding 30px 30px
  //Блок в котором будет размещаться текст на белом фоне
  &_theme-info
    background-color #ffffff

  //Блок для размещения фото
  &_theme-foto
    background-color #d6d6d6

  //Блок для нахождения в aside голубой
  &_theme-blue
    background-color #2998d6

  //Блок для нахождения в aside желтый
  &_theme-yello
    background-color #ffe12a

  //Блок желтого цвета с иконкой pdf на фоне
  &_theme-pdf-icon-yellow
    background #ffe400 url("../img/icon-pdf.png") no-repeat 120px 102px

  //Блок желтого цвета с иконкой шестеренок на фоне
  &_theme-star-icon-yellow
    background #ffe400 url("../img/icon-star.png") no-repeat 108px 101px


  //Элемент заголовок
  &__title
    width 155px
    margin-top 0
    &_theme-head
      color #363636
      font-family Montserrat, sans-serif;
      font-size 18px
      font-weight 700

    &_theme-head-aside
      margin-bottom 0

      color: #ffffff
      font-family Montserrat, sans-serif;
      font-size 28px
      font-weight 900
      text-transform uppercase
      letter-spacing 0.18px

    &_theme-head-aside-small
      color #ffffff
      font-family Montserrat, sans-serif;
      font-size 18px
      font-weight 400

  //Элемент заметка
  &__mark
    &_theme-blue-white
      color #8bcffb
      font-family Montserrat, sans-serif;
      font-size 14px
      font-weight 400

  //Элемент статья
  &__article
    &_theme-text
      color #989898
      font-family Montserrat, sans-serif;
      font-size 14px
      font-weight 400
      line-height 22px

  //Элемент горизонтальной линии
  &__horizontal
    width 40px
    margin-left 0
    border-width 3px
    &_black-solid
      border solid #363636
    &_white-solid
      border solid #ffffff

  //Элемент номер
  &__number
    width 71px
    height 71px
    &_theme-yellow
      background-color #ffe400
      color #363636
      font-family Montserrat, sans-serif;
      font-size 28px
      font-weight 400
      text-align center
    &_middle
      display: inline-block;

  //Элемент подпись иконки
  &__icon-caption
    display block
    position relative
    top 160px
    text-align center
    &_uppercase-text-black
      color #363636
      font-family Montserrat, sans-serif;
      font-size 12px
      font-weight 400
      text-transform uppercase
      letter-spacing 0.08px

  //Элемент стрелки
  &__arrow
    position absolute
    border 12px solid transparent

    &_down
      left 130px
      border-top 12px solid #ffffff

    &_up
      top 269px
      left 130px
      border-bottom 12px solid #ffffff


  //Размещение формы в unit aside
  &__inner-form-aside
    position relative
    bottom -52px

/*===========================Блок форма==============================*/
.form {
  position: relative;
}
.form__input--theme-unit-search {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #fff;
  background-color: transparent;
}
.form__input--border-bottom-only {
  border: none;
  border-bottom: 1px solid;
}
.form__input--border-white {
  border-color: #fff;
}
.form__input--theme-unit-search-white {
  width: 100%;
  padding: 13px 7px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #59a9d6;
  background-color: #fff;
}
.form__button--theme-search-button {
  border: none;
  background-color: transparent;
}
.form__button--right-button {
  position: absolute;
  right: 0;
  bottom: 15px;
}
.form__button-icon {
  font-size: 20px;
  color: #fff;
}
.form__submit--small-text {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.form__submit--white-text {
  color: #fff;
}
.form__submit--theme-link-submit {
  float: right;
  margin-top: 30px;
  border: none;
  background-color: #2297d8;
}
.form::after {
  content: "";
  display: table;
  clear: both;
}
/*Футер сайта*/
.footer {
  min-height: 80px;
}
.footer_theme-white-grey {
  background-color: #f5f5f5;
}
.footer_theme-text {
  color: #9b9b9b;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.footer_theme-text-mark {
  color: #2297d8;
}
.footer_theme-text-menu {
  color: #a2a2a2;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.footer__content {
  width: 1172px;
  min-height: 80px;
}
.footer__content_theme-grey {
  background-color: #f5f5f5;
}
.footer__inner {
  margin-left: auto;
  margin-right: auto;
}
.footer__container__container-inner {
  position: relative;
  top: 29px;
}
.footer__container__text-inner {
  display: inline-block;
}
.footer__container__menu-inner {
  float: right;
}
.footer__container::after {
  content: "";
  display: table;
  clear: both;
}
/*===============================Блок кнопка============================*/
.button {
  font-size: 12px;
}
.button--theme-unit-btn {
  padding: 15px 23px 15px 24px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  border: none;
}
.button--text-white {
  color: #fff;
}
.button--text-black {
  color: #363636;
}
.button--black-bg {
  background-color: #363636;
}
.button--blue-bg {
  background-color: #2297d8;
}
.button--white-bg {
  background-color: #fff;
}
.button--yellow-bg {
  background-color: #ffe400;
}
.button--theme-arrow {
  width: 30px;
  height: 30px;
  border: none;
}
.button--arrow-next {
  background: url("../img/arr-next.png") no-repeat center;
}
.button--arrow-prev {
  background: url("../img/arr-prev.png") no-repeat center;
}
.button--arrow-prev-hover {
  background: url("../img/arr-prev-hover.png") no-repeat center;
}
/*===============================Блок иконка============================*/
.icon {
  padding: 0;
  border: none;
}
.icon--blue-bg {
  background-color: #2297d8;
}
.icon--theme-circle {
  width: 71px;
  height: 71px;
  margin-bottom: 14px;
  background: url("../img/play-circle.png") no-repeat center;
}
.icon--theme-play-arrow {
  width: 22px;
  height: 28px;
  margin-left: 28px;
  background: url("../img/play-arrow.png") no-repeat center;
}
.icon--theme-pdf {
  height: 71px;
  margin-bottom: 16px;
  background: url("../img/icon-pdf.png") no-repeat center;
}
.icon--theme-contact-circle {
  height: 54px;
  background: url("../img/contact-circle.png") no-repeat center;
}
.icon--theme-play-arrow-down {
  position: relative;
  top: -8px;
  height: 28px;
  margin-bottom: 5px;
  background: url("../img/play-arrow-down.png") no-repeat center;
}
.icon--person-avatar {
  height: 60px;
  margin-bottom: 19px;
  background: url("../img/avatar.png") no-repeat center;
}
.icon--person-rate4 {
  height: 14px;
  margin-top: 10px;
  background: url("../img/rate4.png") no-repeat center;
}
.icon--person-rate1none {
  height: 14px;
  background: url("../img/rate1none.png") no-repeat center;
}
.icon--person-rate5 {
  height: 14px;
  margin-top: 10px;
  background: url("../img/rate5.png") no-repeat center;
}
.icon--blue-square {
  position: relative;
  height: 83px;
  width: 83px;
  margin-bottom: 35px;
  text-align: center;
  background: url("../img/rectangle-blue.png") no-repeat center;
}
.icon--ligthinig-blue {
  position: absolute;
  top: 24px;
  left: 30px;
  height: 38px;
  width: 21px;
  background: url("../img/lightning-blue.png") no-repeat center;
}
.icon--raindrop {
  position: absolute;
  top: 26px;
  left: 31px;
  height: 32px;
  width: 21px;
  background: url("../img/raindrop.png") no-repeat center;
}
.icon--setting-tool-blue {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 34px;
  width: 34px;
  background: url("../img/setting-tool-blue.png") no-repeat center;
}
.icon--light-bulb {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 34px;
  width: 23px;
  background: url("../img/light-bulb.png") no-repeat center;
}
.icon--icon-stars {
  height: 73px;
  margin-bottom: 17px;
  background: url("../img/icon-star.png") no-repeat center;
}
