footer.footer
    // Контент для футера сайта
    div.footer__content.footer__inner.footer__content_theme-grey
        div.footer__container
            span 2015 © Copyright - Foundation theme by Stylemixthemes
            //Блок для меню
            div.menu.footer__container__menu-inner
                ul.menu__items
                    li.menu__item
                        a.menu__item_text(href="#") Services
                    li.menu__item
                        a.menu__item_text(href="#") OurWorks
                    li.menu__item
                        a.menu__item_text(href="#") News & events
                    li.menu__item
                        a.menu__item_text(href="#") Worck with us
                    li.menu__item
                        a.menu__item_text(href="#") F.A.Q
                    li.menu__item
                        a.menu__item_text(href="#") Contact us
                    li.menu__item
                        a.menu__item_text(href="#") Shop