footer.footer.footer_theme-white-grey
    // Контент для футера сайта
    div.footer__content.footer__inner
        div.footer__container.footer__container__container-inner
            div.footer__container__text-inner.footer_theme-text 2015 © Copyright - Foundation theme by
                span.footer_theme-text.footer_theme-text-mark  Stylemixthemes
            //Блок для меню
            div.menu.footer__container__menu-inner
                ul.menu__items
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") Services
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") OurWorks
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") News & events
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") Worck with us
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") F.A.Q
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") Contact us
                    li.menu__item
                        a.menu__item_text.footer_theme-text-menu(href="#") Shop
