.button
  font-size 12px
  &--theme-unit-btn
    width 123px
    height 46px

    font-weight 600
    font-family Montserrat, sans-serif;
    text-transform uppercase

    border none

  &--text-white
    color #ffffff

  &--black-bg
    background-color #363636