.button
  font-size 12px
  &--theme-unit-btn
    width 123px
    height 46px

    font-weight 600
    font-family Montserrat, sans-serif;
    text-transform uppercase

    border none

  &--text-white
    color #ffffff

  &--black-bg
    background-color #363636

  &--blue-bg
    background-color #2297d8

  &--white-bg
    background-color #ffffff

  &--theme-arrow
    width 30px
    height 30px
    border none

  &--arrow-next
    background url("../img/arr-next.png") no-repeat center

  &--arrow-prev
    background url("../img/arr-prev.png") no-repeat center