.button
  font-size 12px

  &--theme-arrow
    width 22px
    height 28px
    border none

  &--theme-unit-btn
    padding 15px 25px 16px 21px
    font-family Montserrat-reg, sans-serif;
    text-transform uppercase

    border none

  &--text-white
    color #ffffff

  &--text-black
    color #363636

  &--black-bg
    background-color #363636

  &--blue-bg
    background-color #2297d8

  &--white-bg
    background-color #ffffff

  &--yellow-bg
    background-color #ffe400

  &--arrow-next
    padding-left 5px
    background url("../img/arr-next.png") no-repeat center

  &--arrow-prev
    padding-left 0
    padding-right 6px
    background url("../img/arr-prev.png") no-repeat center

  &--arrow-prev-hover
    padding-left 0
    padding-right 5px
    background url("../img/arr-prev-hover.png") no-repeat center

  &--fix-btn-about-company
    padding 15px 26px 16px 23px

  &--fix-btn-view-project
    padding 15px 21px 16px 23px