&__title
  font-size 14px

  &--big-bold
    font-size 25px
    letter-spacing .5px
    font-weight bold
    font-family Montserrat, sans-serif;
    text-transform uppercase

  &--big-width
    width 315px
    margin-top 2px
    margin-bottom 10px
    line-height 1.4

  &--black-text
    color #363636