&__title
  font-size 14px

  &--big-bold
    font-size 27px
    font-weight 700
    font-family Montserrat, sans-serif;
    text-transform uppercase

  &--big-width
    width 315px
    margin-top 2px
    margin-bottom 10px
    line-height 1.3

  &--med-width
    width 200px
    margin-top -8px
    margin-bottom 15px

  &--black-text
    color #363636