&__title
  font-size 14px

  &--med-regular
    font-size 18px
    //font-weight 500
    font-family Montserrat-reg, sans-serif;

  &--med-bold
    width 155px
    font-size 18px
    font-family Montserrat-bold, sans-serif;

  &--big-bold
    font-size 28px
    font-family Montserrat-bold, sans-serif;
    text-transform uppercase

  &--big-width
    width 315px
    margin-top 3px
    margin-bottom 11px

  &--med-width
    width 200px
    margin-top -8px
    margin-bottom 15px

  &--med-width-h3
    width 170px
    margin-top -3px
    margin-bottom 15px

  &--med-width-h3-155
    width 155px
    margin-top -3px
    margin-bottom 15px

  &--med-width-h3-136
    width 136px
    margin-top -1px
    margin-bottom 15px

  &--black-text
    color #363636

  &--white-text
    color #ffffff

  &--letter-spacing018
    letter-spacing .18px

  &--letter-spacing1
    letter-spacing 1px

  &--uppercase-disabled
    text-transform none

  &--fix-big-width
    margin-top -2px
    margin-bottom 12px

  &--fix-for-news
    margin-top 0
    margin-bottom 23px
    font-weight normal

  &--fix-for-contemporary-vila
    margin-top -6px

  &--fix-for-popular-posts
    margin-bottom 24px
    font-weight normal