&__horizontal
  width 30px
  margin-left 0

  &--black-solid
    border 5px solid #363636
    border-bottom transparent

  &--white-solid
    border 5px solid #ffffff
    border-top transparent

  &--width-small
    width 17px

  &--opasity-half
    opacity .5

  &--opasity02
    opacity .2

  &--inline
    display inline-block
    margin-right 15px
    &:last-child
      margin-right 0