.logo
  width 83px
  height 83px
  background url("../img/layer-logo.png") no-repeat center

  &--theme-home-page
    background url("../img/layer-logo-black.png") no-repeat center

  &__text
    color white
    font-family Montserrat, sans-serif;
    font-size 28px
    font-weight 700
    text-transform uppercase
    text-decoration none

    &--text-black
      color #363636

  &__text-inner
    display block
    position relative
    top 26px
    left 21px