body
  margin 0
/*Блок для размещения шапки сайта*/
.header
  min-height 348px
  background-color #36383b
  // Элемент шапки для фона шапки
  &__bg
    min-height 348px
    width 50%
    //Цвет фона для элемента шапки
    &_theme-gray
      background-color #d6d6d6

  //Элемент шапки для контента
  &__content
    width 1172px

  //Элемент шапки для фона контента в шапке(фон под лого, меню, и т.д)
  &__content-bg
    width 879px
    min-height 348px
    &_theme-red
      background-color #ff0000
    &_theme-gray
      background-color #d6d6d6

  //Элемент шапки для содержимого(лого, меню, кнопки и т.д)
  &__container
    &_theme-green
      background-color #008000

/*примесь для фона шапки*/
.header__bg-inner
  position absolute

/*примесь для контента шапки сайта*/
.header__content-inner
  margin-left auto
  margin-right auto
  position relative

/*примесь для фона контента шапки сайта*/
.header__content-bg-inner
  position absolute

/*примесь для содержимого контента шапки*/
.header__content-container-inner
  position relative
  top 29px

/*Блок для контента*/
.content
  width 800px
  min-height 50px
  &_theme-grey
    background-color grey
    opacity 0.5


/*примесь для меню в контенте шапки*/
.content__menu
  position absolute
  top 25px
  right 0

/*примесь для названия страницы*/
.content__caption
  margin-top 84px

/*====================Блок лого=================*/
.logo
  width 83px
  height 83px
  background url("../img/layer-logo.png") no-repeat
  &__text
    color white
    font-family: Montserrat
    font-size 28px
    font-weight 700
    text-transform uppercase
    text-decoration none
    &_middle-right-place
      display block
      position relative
      top 26px
      left 28px


/*====================Блок меню==================*/
.menu
  &__items
    list-style none
    padding 0
    margin 0
    &::after
      content ""
      display table
      clear both

  &__item
    float left
    margin-right 40px
    &_facebook-theme
      color #ffffff
      font-size 20px
      font-weight 400
      line-height 36.12px

    &_twitter-theme
      color #ffffff
      font-size 22px
      font-weight 400
      line-height 36.12px

    &:last-child
      margin-right 0

/*====================Блок с названием страницы=========*/
.caption
  width: 293px
  height 71px
  background-color #ffffff
  &__text
    display block
    position relative
    top 20px
    left 28px
    color #363636
    font-family Montserrat
    font-size 28px
    font-weight 400
    text-transform uppercase

/*Тело сайта*/
.main
  min-height 500px
  &_theme-white-gr
    background-color #f5f5f5
  //Элемент для размещения контента
  &__content
    width 1172px
    min-height 450px
    &_theme-grey
      background-color #d6d6d6
  // Нахождение контента внутри
  &__content-inner
    margin-left auto
    margin-right auto
    &::after
      content ""
      display table
      clear both
  //колонка контента для главного содержимого
  &__column-main
    width 879px
    min-height 400px
  //колонка контента для остального
  &__column-aside
    width 293px
    min-height 400px
  //размещение колонки слева в месте главного контента сайта
  &__column-inner-left
    margin-right 293px
  //размещение колонки справа в месте главного контента сайта
  &__column-inner-right
    float right




/*Футер сайта*/
.footer
  background-color blue
  opacity 0.3
  min-height 100px

/*Примесь для подвала сайта*/
.footer__content
  width 1172px
  margin-left auto
  margin-right auto
