.icon
  padding 0
  border none

  &--blue-bg
    background-color #2297d8

  &--theme-circle
    width 71px
    height 71px
    margin-bottom 14px
    background url("../img/play-circle.png") no-repeat center

  &--theme-play-arrow
    width 22px
    height 28px
    margin-left 28px
    background url("../img/play-arrow.png") no-repeat center

  &--theme-pdf
    height 71px
    margin-bottom 16px
    background url("../img/icon-pdf.png") no-repeat center

  &--theme-contact-circle
    height 54px
    background url("../img/contact-circle.png") no-repeat center

  &--theme-play-arrow-down
    position relative
    top -8px
    height 28px
    margin-bottom 5px
    background url("../img/play-arrow-down.png") no-repeat center

  &--person-avatar
    height 60px
    margin-bottom 19px
    background url("../img/avatar.png") no-repeat center

  &--person-rate4
    height 14px
    margin-top 10px
    background url("../img/rate4.png") no-repeat center

  &--person-rate1none
    height 14px
    background url("../img/rate1none.png") no-repeat center

  &--person-rate5
    height 14px
    margin-top 10px
    background url("../img/rate5.png") no-repeat center

  &--blue-square
    position relative
    height 83px
    width 83px
    margin-bottom 35px
    text-align center
    background url("../img/rectangle-blue.png") no-repeat center

  &--ligthinig-blue
    position absolute
    top 24px
    left 30px
    height 38px
    width 21px
    background url("../img/lightning-blue.png") no-repeat center

  &--raindrop
    position absolute
    top 26px
    left 31px
    height 32px
    width 21px
    background url("../img/raindrop.png") no-repeat center


