.icon
  padding 0
  border none

  &--blue-bg
    background-color #2297d8

  &--theme-circle
    width 71px
    height 71px
    margin-bottom 14px
    background url("../img/play-circle.png") no-repeat center

  &--theme-play-arrow
    width 22px
    height 28px
    margin-left 28px
    background url("../img/play-arrow.png") no-repeat center

