&__article
  font-size 14px
  line-height 22px
  font-weight 500
  font-family Montserrat, sans-serif;

  &--black-text
    color #363636

  &--gray-text
    color #a0a0a0

  &--grey-yellow-text
    color #777463

  &--centered-text
    text-align center

  &--margin-top10
    margin-top 10px

  &--fix-for-your-buildig-is
    margin-top 17px
    margin-bottom 21px
    width 420px

  &--fix-for-contemporary-vila
    margin-left 1px;
    margin-bottom 22px