.form
  position relative
  &__input
    &--theme-unit-search
      width 100%
      padding-top 4px
      padding-bottom 14px
      font-size 18px
      font-weight 600
      font-family Montserrat, sans-serif;
      color white
      background-color transparent

    &--border-bottom-only
      border none
      border-bottom 1px solid

    &--border-white
      border-color #ffffff

  &__button
    &--theme-search-button
      border none
      background-color transparent

    &--right-button
      position absolute
      right 0
      bottom 15px

  &__button-icon
    font-size 20px
    color #ffffff