.form
  position relative
  &__input
    &--theme-unit-search
      width 100%
      padding-top 4px
      padding-bottom 14px
      font-size 18px
      font-weight 600
      font-family Montserrat, sans-serif;
      color white
      background-color transparent

    &--border-bottom-only
      border none
      border-bottom 1px solid

    &--border-white
      border-color #ffffff

    &--theme-unit-search-white
      width 100%
      padding 13px 7px 13px 11px
      box-sizing border-box
      font-family Montserrat, sans-serif;
      font-size 14px
      font-weight 600
      color #59a9d6
      background-color white

  &__button
    &--theme-search-button
      border none
      background-color transparent

    &--right-button
      position absolute
      right 0
      bottom 15px

  &__button-icon
    font-size 20px
    color #ffffff

  //Элемент submit
  &__submit

    &--small-text
      font-family Montserrat, sans-serif;
      font-size 12px
      font-weight 600
      text-transform uppercase

    &--white-text
      color #ffffff

    &--theme-link-submit
      float right
      margin-top 30px
      margin-right -7px
      border none
      background-color #2297d8

  &::after
    content ""
    display table
    clear both