&__info

  &--block
    display block

  &--small-medium
    font-size 12px
    font-weight 600
    font-family Montserrat, sans-serif;

  &--norm-medium
    font-size 14px
    font-weight 600
    font-family Montserrat, sans-serif;

  &--medium
    font-size 21px
    font-weight 500
    letter-spacing 3px
    font-family Montserrat, sans-serif;

  &--big-medium
    font-size 36px
    font-weight 500
    letter-spacing 3px
    font-family Montserrat, sans-serif;

  &--black-text
    color #363636

  &--white-text
    color #ffffff

  &--grey-text
    color #a0a0a0

  &--dark-grey-text
    color #707070

  &--white-blue-text
    color #ffffff
    opacity .5

  &--uppercase
    text-transform uppercase

  &--fix-for-news
    margin-top 30px
    margin-bottom 6px

  &--fix-for-popular-posts
    margin-top 19px
    margin-bottom -13px