&__info

  &--medium
    font-size 21px
    font-weight 500
    letter-spacing 3px
    font-family Montserrat, sans-serif;

  &--big-medium
    font-size 36px
    font-weight 500
    letter-spacing 3px
    font-family Montserrat, sans-serif;

  &--black-text
    color #363636