.unit
  position relative
  width 233px
  height 233px
  padding 30px

  //Блок вытянутый по горизонтали в два раза
  &--horizontal-double-unit
    width 526px

  //Блок вытянутый по вертикали в два раза
  &--vertical-double-unit
    height 526px

  //Большой 586*586
  &--big-bg-layer-unit
    position relative
    width 586px
    height 586px
    padding 0

  //Вертикальный 293*586
  &--vertical-double-bg-layer-unit
    position relative
    width 293px
    height 586px
    padding 0

  //Размещать блоки в ряды
  &--inline
    display inline-block

  //Слой для unit на котором можно поместить уникальный фон/фото
  &--bg-layer-unit
    position relative
    height auto
    width auto
    padding 0

  //Уникальный слой для unit для размещения фонового изображения
  &--bg-unit-width959
    position absolute
    height 293px
    width 959px
    padding 0

  //Блок в котором будет размещаться текст на белом фоне
  &--theme-info
    background-color #ffffff

  //Блок для размещения фото
  &--theme-foto
    background-color #d6d6d6

  &--theme-yellow
    background-color #ffe400

  &--theme-blue
    background-color #2297d8

  &--white
    background-color #ffffff

  &--soft-gold
    background-color #fcf3d3

  &--dark-grey
    background-color #36383b

  &--transparent
    background-color transparent

  //Элемент заголовок
  @import "__title/__title.styl"
  //&__title
  //  margin-top -4px
  //  margin-bottom .8em
  //  font-size 14px
  //
  //  &--bold
  //    font-family Montserrat, sans-serif;
  //    font-size 18px
  //    font-weight 700
  //    color #363636
  //
  //  &--big-bold
  //    margin-bottom .45em
  //    font-size 27px
  //    font-weight 700
  //    font-family Montserrat, sans-serif;
  //    text-transform uppercase
  //
  //  &--uppercase-disabled
  //    text-transform none
  //
  //  &--theme-unit-black-title
  //    width 306px
  //    color #363636
  //
  //  &--text-width
  //    width 155px
  //    color #363636
  //
  //  &--white-text
  //    color #ffffff
  //
  //  &--letter-spacing018
  //    letter-spacing .18px
  //
  //  &--top-margin2
  //    margin-top 2px
  //
  //  &--fix-margin-bottom-news
  //    margin-bottom  1em

  //Элемент горизонтальной линии
  &__horizontal
    width 34px
    margin-left 0

    &--black-solid
      border solid #363636

    &--white-solid
      border solid #ffffff

    &--width-small
      width 21px

    &--opasity-half
      opacity .5

    &--inline
      display inline-block
      margin-right 15px
      &:last-child
        margin-right 0

  //Элемент для информации
  @import "__info/__info.styl"
  //&__info
  //
  //  &--block
  //    display block
  //
  //  &--med-text
  //    font-size 20px
  //    font-weight 600
  //    font-family Montserrat, sans-serif;
  //
  //  &--big-text
  //    font-size 36px
  //    font-weight 600
  //    letter-spacing 3.94px
  //    font-family Montserrat, sans-serif;
  //    text-transform uppercase
  //
  //  &--small-text
  //    font-size 12px
  //    font-weight 600
  //    font-family Montserrat, sans-serif;
  //    text-transform uppercase
  //
  //  &--norm-bold-text
  //    font-size 14px
  //    font-weight 900
  //    font-family Montserrat, sans-serif
  //
  //  &--norm-text
  //    font-size 14px
  //    font-weight 700
  //    font-family Montserrat, sans-serif
  //
  //  &--black-text
  //    color #363636
  //
  //  &--white-text
  //    color #ffffff
  //
  //  &--grey-text
  //    color #a0a0a0
  //
  //  &--dark-grey-text
  //    color #707070
  //
  //  &--white-blue-text
  //    color #ffffff
  //    opacity .5
  //
  //  &--letter-spacing035
  //    letter-spacing .35px
  //
  //  &--letter-spacing047
  //    letter-spacing .47px

  //Элемент info-wrap
  &__info-wrap
    display block
    height 44px
    margin 24px 0 18px
    text-align center

  &__company-video-wrap
    width 120px
    margin 70px auto
    text-align center

  &__download-price-wrap
    margin-top 70px
    text-align center

  &__contact-us-wrap
    margin-top 70px
    text-align center

  &__form-search-wrap
    margin-top 100px

  &__person-info-wrap
    text-align center

  &__horiz-inline-center-wrap
    font-size 0
    text-align center

  &__horiz-inline-wrap
    font-size 0

  &__horiz-bottom-wrap
    position absolute
    bottom 30px

  &__bottom-right-unit-wrap
    position absolute
    bottom 0
    right 0

  &__fix-button-view-project-wrap
    position absolute
    bottom 48px

  &__fix-btn-read-more-wrap
    position absolute
    bottom 58px

  //Размещение формы в unit aside
  &__inner-form-aside
    position relative
    bottom -54px

  //Элемент article
  @import "__article/__article.styl"
  //&__article
  //  font-size 14px
  //  &--theme-unit-black-text
  //    font-weight 600
  //    line-height 22px
  //    font-family Montserrat, sans-serif;
  //    color #363636
  //
  //  &--gray-text
  //    color #a0a0a0
  //
  //  &--grey-yellow-text
  //    color #777463
  //
  //  &--text-width419
  //    width 419px
  //
  //  &--centered-text
  //    text-align center
  //
  //  &--text-ind
  //    text-indent .5em

  //Элемент подпись иконки
  &__icon-caption
    display block
    position relative
    top 160px
    text-align center

  //Элемент кнопка по центру по горизонтали
  &__button-center
    display block
    margin 16px auto

  //Элемент кнопка в левом нижнем углу
  &__button-buttom-left
    position relative
    top 21px

  //Элемент кнопка в левой части под очередным блоком
  &__button-left
    margin-top 10px;

  //Элемент кнопка со стрелкой
  &__button-arrow-wrap
    padding 18px 106px

  //Элемент стрелки
  &__arrow
    position absolute
    border 12px solid transparent

    &--down
      left 130px
      bottom -24px
      z-index 10
      border-top 12px solid #ffffff

    &--up
      left 130px
      top -24px
      border-bottom 12px solid #ffffff

  //Элемент номер
  &__number
    width 71px
    padding-top 20px
    padding-bottom 18px

    &--theme-yellow-bg
      background-color #ffe400

    &--text
      font-size 27px
      font-weight 700
      font-family Montserrat, sans-serif;
      color #363636

    &--centered-text
      text-align center