.unit
  width 233px
  height 233px
  padding 30px

  //Блок вытянутый по горизонтали в два раза
  &--horizontal-double-unit
    width 526px

  //Размещать блоки в ряды
  &--inline
    display inline-block

  //Блок в котором будет размещаться текст на белом фоне
  &--theme-info
    background-color #ffffff

  //Блок для размещения фото
  &--theme-foto
    background-color #d6d6d6

  &--theme-yellow
    background-color #ffe400

  &--theme-blue
    background-color #2297d8

  &--white
    background-color #ffffff

  //Элемент заголовок
  &__title
    margin-top 0
    margin-bottom .7em
    font-size 14px

    &--bold
      font-family Montserrat, sans-serif;
      font-size 18px
      font-weight 700
      color #363636

    &--big-bold
      font-size 27px
      font-weight 700
      font-family Montserrat, sans-serif;
      text-transform uppercase

    &--theme-unit-black-title
      width 294px
      color #363636

    &--text-width
      width 155px
      color #363636

  //Элемент горизонтальной линии
  &__horizontal
    width 34px
    margin-left 0
    border-width 2px

    &--black-solid
      border solid #363636

  //Элемент для информации
  &__info

    &--med-text
      font-size 20px
      font-weight 600
      font-family Montserrat, sans-serif;

    &--big-text
      font-size 36px
      font-weight 600
      letter-spacing 3.94px
      font-family Montserrat, sans-serif;
      text-transform uppercase

    &--small-text
      font-size 12px
      font-weight 600
      font-family Montserrat, sans-serif;
      text-transform uppercase


    &--black-text
      color #363636

    &--white-text
      color #ffffff

  //Элемент info-wrap
  &__info-wrap
    display block
    margin 40px 0
    text-align center

  &__company-video-wrap
    width 120px
    margin 70px auto
    text-align center

  &__download-price-wrap
    margin-top 70px
    text-align center


  //Элемент article
  &__article
    font-size 14px
    &--theme-unit-black-text
      font-weight 600
      line-height 22px
      font-family Montserrat, sans-serif;
      color #363636

    &--gray-text
      color #a0a0a0

  //Элемент подпись иконки
  &__icon-caption
    display block
    position relative
    top 160px
    text-align center

  //Элемент кнопка по центру по горизонтали
  &__button-center
    display block
    margin 16px auto

  //Элемент кнопка в левом нижнем углу
  &__button-buttom-left
    position relative
    top 21px