-
    var unitsListData = [
        {
            unitGeometry:"unit--horizontal-double-unit",
            title:"building the world around us",
            titleStyles: [
                "unit__title--big-bold",
                "unit__title--big-width",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.",
            articleStyles:["unit__article--black-text"],
            buttons:[
                {
                    caption:"Read more",
                    btnStyles:[
                        "button--theme-unit-btn",
                        "button--black-bg",
                        "button--text-white"
                    ],
                    locationStyles:["unit__fix-btn-read-more-wrap"]
                }
            ],
            bgColor: "unit--theme-yellow"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            unitType: "twoBtnScroll",

            mainInfoValue:"01",
            supInfoValue:"/03",

            bgColor: "unit--theme-info"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            unitType: "iconButton",
            btnStyleLayer0: [
                "icon--theme-circle",
                "icon--blue-bg"
            ],
            btnStyleLayer1:["icon--theme-circle-bg"],
            btnStyleLayer2:["icon--theme-play-arrow"],
            locationStyles:["unit__company-video-wrap"],
            infoValue: "Company video",
            infoStyle: [
                "unit__info--small-regular",
                "unit__info--letter-spacing03",
                "unit__info--white-text",
                "unit__info--uppercase"
            ],
            bgColor: "unit--theme-blue"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },
        {
            title:"Our services",
            titleStyles: [
                "unit__title--big-bold",
                "unit__title--med-width",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Our mission is to provide the highest level of service for our client-partners from concept through construction.",
            articleStyles:["unit__article--gray-text"],
            buttons:[]
        }
    ];