div.main.main_theme-white-gr
    // Контент для тела сайта
    div.main__content.main__content-inner.main__content_theme-grey
        div.unit.unit--horizontal-double-unit.unit--theme-yellow
            h2.unit__title.unit__title--big-bold.unit__title--theme-unit-black-title building the world around us
            hr.unit__horizontal.unit__horizontal--black-solid
            p.unit__article.unit__article--theme-unit-black-text Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.
            input.button.button--theme-unit-btn.button--black-bg.button--text-white.unit__button-buttom-left(type="button", value="Read more")