div.main.main--theme-white-gr
    // Контент для тела сайта
    div.main__content.main__content-inner.main__content--theme-transparent

        div.main__content-flex-wrap
            //Данные для заполнения unit
            include home-page-data
            //Миксины для блока
            include mixins/unit
            include mixins/unitScrollingButtons
            include mixins/unitIconButton
            include mixins/unitFoto
            include mixins/unitWithArrow
            include mixins/unitIcon
            include mixins/unitSearchWithBg
            include mixins/unitPersonPost
            include mixins/unitIconStatistic
            include mixins/unitNews
            include mixins/unitDoubleArticle
            include mixins/unitSubscribe

            for unitItem in unitsListData
                if unitItem.unitType === "twoBtnScroll"
                    +unitScrollingButtons(unitItem)
                else if unitItem.unitType === "iconButton"
                    +unitIconButton(unitItem)
                else if unitItem.unitType === "foto"
                    +unitFoto(unitItem)
                else if unitItem.unitType === "arrow"
                    +unitWithArrow(unitItem)
                else if unitItem.unitType === "icon"
                    +unitIcon(unitItem)
                else if unitItem.unitType === "searchWithBg"
                    +unitSearchWithBg(unitItem)
                else if unitItem.unitType === "personPost"
                    +unitPersonPost(unitItem)
                else if unitItem.unitType === "iconStatistic"
                    +unitIconStatistic(unitItem)
                else if unitItem.unitType === "news"
                    +unitNews(unitItem)
                else if unitItem.unitType === "doubleArticle"
                    +unitDoubleArticle(unitItem)
                else
                    +unit(unitItem)

            div.unit.unit--big-bg-layer-unit.unit--theme-foto
                div.unit__picture--theme-rest
                div.unit__bottom-right-unit-wrap
                    -
                        var unitObj = {

                            unitType: "twoBtnScroll",

                            fixPaddingTop:["unit__fix-padding-unit-with-arrow-hower"],

                            btnNextLayer0:[
                                "button--theme-arrow",
                                "button--arrow-next"
                            ],
                            btnNextLayer1:"icon--arrow-next-inside",

                            mainInfoValue:"01",
                            mainInfoStyles:[
                                "unit__info--big-regular",
                                "unit__info--fix-right-margin4",
                                "unit__info--black-text",
                                "unit__info--letter-spacing1"
                            ],
                            supInfoSlash:"/",
                            slashStyles:[
                                "unit__info--supper",
                                "unit__info--medium-regular",
                                "unit__info--black-text",
                                "unit__info--left-right-margin5"
                            ],
                            supInfoValue:"09",
                            supInfoStyles:[
                                "unit__info--supper",
                                "unit__info--medium-regular",
                                "unit__info--black-text"
                            ],

                            btnPrevLayer0:[
                                "button--theme-arrow",
                                "button--arrow-prev"
                            ],
                            btnPrevLayer1:"icon--arrow-prev-inside",
                            bgColor: "unit--theme-info"
                        }

                    +unitScrollingButtons(unitObj)

            div.unit.unit--vertical-double-bg-layer-unit
                -
                    var unitIconObj = {
                        unitType: "icon",
                        icons:[
                            {
                                iconLayer0: "icon--icon-stars"
                            }
                        ],
                        locationStyles:["unit__download-price-wrap"],
                        infoValue: "Work with us",
                        infoStyle: [
                            "unit__info--small-regular",
                            "unit__info--letter-spacing03",
                            "unit__info--black-text",
                            "unit__info--uppercase"
                        ],
                        bgColor: "unit--theme-yellow"
                    }
                +unitIcon(unitIconObj)

                -
                    var unitSubscribeObj = {
                        unitType: "subscribe",
                        unitTitle: "subscribe",
                        hrLine: true,
                        locationStyles:["unit__inner-form-aside"],
                        inputSearchValue: "E-mail",
                        inputStyles:["form__input--theme-unit-search-white"],
                        buttonCaption: "sign up",
                        buttonStyles: [
                            "form__submit--theme-link-submit",
                            "form__submit--small-text",
                            "form__submit--white-text"
                        ],
                        bgColor:"unit--theme-blue"
                    }

                +unitSubscribe(unitSubscribeObj)