div.main.main--theme-white-gr
    // Контент для тела сайта
    div.main__content.main__content-inner.main__content--theme-transparent

        div.main__content-flex-wrap
            //Данные для заполнения unit
            include home-page-data
            //Миксины для блока
            include mixins/unit
            include mixins/unitScrollingButtons
            include mixins/unitIconButton
            include mixins/unitFoto
            include mixins/unitWithArrow
            include mixins/unitIcon
            include mixins/unitSearchWithBg
            include mixins/unitPersonPost
            include mixins/unitIconStatistic

            for unitItem in unitsListData
                if unitItem.unitType === "twoBtnScroll"
                    +unitScrollingButtons(unitItem)
                else if unitItem.unitType === "iconButton"
                    +unitIconButton(unitItem)
                else if unitItem.unitType === "foto"
                    +unitFoto(unitItem)
                else if unitItem.unitType === "arrow"
                    +unitWithArrow(unitItem)
                else if unitItem.unitType === "icon"
                    +unitIcon(unitItem)
                else if unitItem.unitType === "searchWithBg"
                    +unitSearchWithBg(unitItem)
                else if unitItem.unitType === "personPost"
                    +unitPersonPost(unitItem)
                else if unitItem.unitType === "iconStatistic"
                    +unitIconStatistic(unitItem)
                else
                    +unit(unitItem)

            //div.unit.unit--horizontal-double-unit.unit--theme-yellow
            //    h2.unit__title.unit__title--big-bold.unit__title--big-width.unit__title--black-text building the world around us
            //    hr.unit__horizontal.unit__horizontal--black-solid
            //    p.unit__article.unit__article--black-text Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.
            //    div.unit__fix-btn-read-more-wrap
            //        input.button.button--theme-unit-btn.button--black-bg.button--text-white(type="button", value="Read more")

            //div.unit

            //div.unit.unit--theme-info
            //    div.unit__button-arrow-wrap
            //        button.button.button--theme-arrow.button--arrow-next
            //            div.icon.icon--arrow-next-inside
            //
            //    div.unit__info-wrap
            //        span.unit__info.unit__info--big-regular.unit__info--letter-spacing4.unit__info--black-text 01
            //        span.unit__info.unit__info--supper.unit__info--medium-regular.unit__info--letter-spacing2.unit__info--black-text /03
            //
            //    div.unit__button-arrow-wrap
            //        button.button.button--theme-arrow.button--arrow-prev
            //            div.icon.icon--arrow-prev-inside

            //div.unit

            //div.unit

            //div.unit.unit--theme-company-video.unit--theme-blue
            //    div.unit__company-video-wrap
            //        button.icon.icon--theme-circle.icon--blue-bg
            //            div.icon.icon--theme-circle-bg
            //                div.icon.icon--theme-play-arrow
            //
            //        span.unit__info.unit__info--small-regular.unit__info--letter-spacing03.unit__info--white-text.unit__info--uppercase Company video

            //div.unit

            //div.unit.unit--theme-info
            //    h2.unit__title.unit__title--big-bold.unit__title--med-width.unit__title--black-text Our services
            //    hr.unit__horizontal.unit__horizontal--black-solid
            //    p.unit__article.unit__article--gray-text Our mission is to provide the highest level of service for our client-partners from concept through construction.


            //div.unit.unit--bg-layer-unit.unit--theme-foto
            //    div.unit__picture--theme-contr

            //div.unit.unit--bg-layer-unit
            //    div.unit.unit--theme-info
            //        h3.unit__title.unit__title--med-bold.unit__title--med-width-h3.unit__title--black-text General Contracting
            //        hr.unit__horizontal.unit__horizontal--black-solid
            //        p.unit__article.unit__article--gray-text This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.
            //    div.unit__arrow.unit__arrow--left

            //div.unit.unit--bg-layer-unit.unit--theme-foto
            //    div.unit__picture--theme-capital

            //div.unit.unit--theme-info
            //    div.unit__fix-padding-unit-with-arrow-hower
            //    div.unit__button-arrow-wrap
            //        button.button.button--theme-arrow.button--arrow-next
            //            div.icon.icon--arrow-next-inside
            //
            //    div.unit__info-wrap
            //        span.unit__info.unit__info--big-regular.unit__info--fix-right-margin4.unit__info--black-text.unit__info--letter-spacing1 03
            //        span.unit__info.unit__info--supper.unit__info--medium-regular.unit__info--black-text.unit__info--left-right-margin5 /
            //        span.unit__info.unit__info--supper.unit__info--medium-regular.unit__info--black-text 06
            //
            //    div.unit__button-arrow-wrap
            //        button.button.button--theme-arrow.button--arrow-prev-hover
            //            div.icon.icon--arrow-prev-inside

            //div.unit.unit--bg-layer-unit
            //    div.unit.unit--white
            //        h3.unit__title.unit__title--med-bold.unit__title--med-width-h3.unit__title--black-text Project design and engineering
            //        hr.unit__horizontal.unit__horizontal--black-solid
            //        p.unit__article.unit__article--gray-text Through Stage-Gate, Design and Engineering methodology, DMCS ensure client-partners realize clearly defined project objective to achieve intended results.
            //    div.unit__arrow.unit__arrow--right

            //div.unit.unit--bg-layer-unit.unit--theme-foto
            //    div.unit__picture--theme-desing

            //div.unit.unit--bg-layer-unit
            //    div.unit.unit--white
            //        h3.unit__title.unit__title--med-bold.unit__title--med-width-h3.unit__title--black-text Capital improvements
            //        hr.unit__horizontal.unit__horizontal--black-solid
            //        p.unit__article.unit__article--gray-text This results in scope creep and slippage of the schedule that ultimately result in additional costs to the owner.
            //    div.unit__arrow.unit__arrow--up

            //div.unit.unit--theme-yellow
            //    div.unit__download-price-wrap
            //        div.icon.icon--theme-pdf
            //        span.unit__info.unit__info--small-regular.unit__info--letter-spacing03.unit__info--black-text.unit__info--uppercase Download price

            //div.unit.unit--theme-blue
            //    div.unit__contact-us-wrap
            //        div.icon.icon--theme-contact-circle
            //            div.icon.icon--theme-contact-circle-bg
            //        div.icon.icon--theme-play-arrow-down
            //        span.unit__info.unit__info--small-regular.unit__info--letter-spacing03.unit__info--white-text.unit__info--uppercase Contact us

            //div.unit.unit--bg-layer-unit
            //    div.unit.unit--bg-unit-width959.unit--dark-grey
            //        div.unit__picture--theme-what
            //    div.unit.unit--horizontal-double-unit.unit--transparent
            //        div.unit__form-search-wrap
            //            form.form
            //                input.form__input.form__input--theme-unit-search.form__input--border-bottom-only.form__input--border-white(type="text", name="search-text", value="What you're looking for")
            //                button.form__button.form__button--right-button.form__button--theme-search-button
            //                    i.form__button-icon(class="fa fa-search", aria-hidden="true")

            //div.unit.unit--horizontal-double-unit.unit--white
            //    div.unit__person-info-wrap
            //        div.icon.icon--person-avatar
            //        span.unit__info.unit__info--norm-bold.unit__info--black-text Martin H. Jhonsons
            //        div.unit__person-rate-inline-wrap
            //            div.icon.icon--person-rate4
            //            div.icon.icon--person-rate1none
            //
            //    p.unit__article.unit__article--centered-text.unit__article--gray-text Together, we'll couple our knowledge, expertise, and innovative capabilities with your astute knowledge of your business—to maximize and optimize results. This is all accomplished in a number of ways.

            //div.unit.unit--bg-layer-unit
            //    div.unit__picture--theme-good-hands
            //    div.unit.unit--horizontal-double-unit
            //        h2.unit__title.unit__title--big-bold.unit__title--big-width.unit__title--black-text.unit__title--fix-big-width Your building is in good hands
            //        hr.unit__horizontal.unit__horizontal--black-solid
            //        p.unit__article.unit__article--black-text.unit__article--fix-for-your-buildig-is Our mission is to provide the highest level of service for our client-partners from concept through construction.
            //        input.button.button--theme-unit-btn.button--black-bg.button--text-white.button--fix-btn-about-company(type="button", value="About company")

            //div.unit.unit--horizontal-double-unit.unit--soft-gold
            //    div.unit__person-info-wrap
            //        div.icon.icon--person-avatar
            //        span.unit__info.unit__info--norm-bold.unit__info--black-text Tony SH. Schults
            //        div.unit__person-rate-inline-wrap
            //            div.icon.icon--person-rate5
            //
            //    p.unit__article.unit__article--centered-text.unit__article--margin-top10.unit__article--grey-yellow-text When selecting DMCS as the design-build team, clients benefit in terms of efficiency and continuity that translate into cost savings and optimized schedules. Contact us today and see how DMCS can best serve you from
            //    //*concept-through-construction.*/
            //    div.unit__horiz-inline-center-bottom-wrap
            //        hr.unit__horizontal.unit__horizontal--black-solid.unit__horizontal--width-small.unit__horizontal--opasity-half.unit__horizontal--inline
            //        hr.unit__horizontal.unit__horizontal--black-solid.unit__horizontal--width-small.unit__horizontal--inline

            //div.unit.unit--white
            //    div.icon.icon--blue-square
            //        div.icon.icon--blue-square-bg
            //            div.icon.icon--ligthinig-blue
            //    span.unit__info.unit__info--block41.unit__info--big-regular.unit__info--letter-spacing2.unit__info--dark-grey-text 55 000
            //    span.unit__info.unit__info--block.unit__info--norm-regular.unit__info--letter-spacing03.unit__info--grey-text Expert Witness

            div.unit.unit--theme-foto
                div.icon.icon--blue-square
                    div.icon.icon--blue-square-bg.icon--blue-square-bg--grey
                        div.icon.icon--raindrop
                span.unit__info.unit__info--block41.unit__info--big-regular.unit__info--letter-spacing2.unit__info--dark-grey-text 124 600
                span.unit__info.unit__info--block.unit__info--norm-regular.unit__info--letter-spacing03.unit__info--grey-text Construction

            div.unit.unit--theme-blue
                h2.unit__title.unit__title--big-bold.unit__title--med-width.unit__title--letter-spacing1.unit__title--white-text News
                p.unit__info.unit__info--norm-medium.unit__info--white-blue-text.unit__info--fix-for-news 12 february, 2015
                h3.unit__title.unit__title--med-regular.unit__title--white-text.unit__title--fix-for-news Project Design and Engineering Services
                p.unit__info.unit__info--norm-medium.unit__info--white-blue-text 23 comments
                div.unit__horiz-inline-wrap.unit__horiz-bottom-wrap
                    hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--inline
                    hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--opasity02.unit__horizontal--inline
                    hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--opasity02.unit__horizontal--inline

            div.unit.unit--white
                div.unit__person-info-wrap
                    div.icon.icon--person-avatar
                    span.unit__info.unit__info--norm-bold.unit__info--black-text David Mc. Adams
                    div.unit__person-rate-inline-wrap
                        div.icon.icon--person-rate4
                        div.icon.icon--person-rate1none

                p.unit__article.unit__article--centered-text.unit__article--gray-text In most urban areas, construction has already built existing structures, many having been standing for decades.

            div.unit.unit--theme-foto
                div.icon.icon--blue-square
                    div.icon.icon--blue-square-bg.icon--blue-square-bg--grey
                        div.icon.icon--setting-tool-blue
                span.unit__info.unit__info--block41.unit__info--big-regular.unit__info--letter-spacing2.unit__info--dark-grey-text 18 000
                span.unit__info.unit__info--block.unit__info--norm-regular.unit__info--letter-spacing03.unit__info--grey-text Procurement

            div.unit.unit--white
                div.icon.icon--blue-square
                    div.icon.icon--blue-square-bg
                        div.icon.icon--light-bulb
                span.unit__info.unit__info--block41.unit__info--big-regular.unit__info--letter-spacing2.unit__info--dark-grey-text 78 150
                span.unit__info.unit__info--block.unit__info--norm-regular.unit__info--letter-spacing03.unit__info--grey-text Project Managments

            div.unit.unit--vertical-double-unit.unit--white
                h2.unit__title.unit__title--big-bold.unit__title--med-width.unit__title--black-text.unit__title--uppercase-disabled.unit__title--fix-for-contemporary-vila Contemporary Villa
                hr.unit__horizontal.unit__horizontal--black-solid
                p.unit__article.unit__article--theme-unit-black-text.unit__article--gray-text.unit__article--fix-for-contemporary-vila Diversity is a buzzword often heard by brand managers, business tycoons, politicians, and more; but it's much more than that. To us at DM Construction, diversity is the name of the game.
                p.unit__article.unit__article--theme-unit-black-text.unit__article--gray-text.unit__article--fix-for-contemporary-vila We offer a diverse set of skills to all clients in all fields, but also offer a diverse group of individuals who are able to deliver those skills. From
                div.unit__fix-button-view-project-wrap
                    input.button.button--theme-unit-btn.button--yellow-bg.button--text-black.unit__button-buttom-left.button--fix-btn-view-project(type="button", value="view project")

            div.unit.unit--big-bg-layer-unit.unit--theme-foto
                div.unit__picture--theme-rest
                div.unit__bottom-right-unit-wrap
                    div.unit.unit--theme-info
                        div.unit__fix-padding-unit-with-arrow-hower
                        div.unit__button-arrow-wrap
                            button.button.button--theme-arrow.button--arrow-next
                                div.icon.icon--arrow-next-inside

                        div.unit__info-wrap
                            span.unit__info.unit__info--big-regular.unit__info--black-text.unit__info--fix-right-margin6 01
                            span.unit__info.unit__info--supper.unit__info--medium-regular.unit__info--black-text.unit__info--left-right-margin5 /
                            span.unit__info.unit__info--supper.unit__info--medium-regular.unit__info--black-text 09

                        div.unit__button-arrow-wrap
                            button.button.button--theme-arrow.button--arrow-prev
                                div.icon.icon--arrow-prev-inside

            div.unit.unit--vertical-double-bg-layer-unit
                div.unit.unit--theme-yellow
                    div.unit__download-price-wrap
                        div.icon.icon--icon-stars
                        span.unit__info.unit__info--small-regular.unit__info--letter-spacing03.unit__info--black-text.unit__info--uppercase Work with us


                div.unit.unit--theme-blue
                    h2.unit__title.unit__title--big-bold.unit__title--med-width.unit__title--letter-spacing018.unit__title--white-text subscribe
                    hr.unit__horizontal.unit__horizontal--white-solid
                    div.unit__inner-form-aside
                        form.form
                            input.form__input.form__input--theme-unit-search-white(type="text", name="email", value="E-mail")
                            input.form__submit.form__submit--theme-link-submit.form__submit--small-text.form__submit--white-text(type="submit", value="sign up")
