-
    var unitsListData = [
        {
            unitGeometry:"unit--horizontal-double-unit",
            title:"building the world around us",
            titleStyles: [
                "unit__title--big-bold",
                "unit__title--big-width",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.",
            articleStyles:["unit__article--black-text"],
            buttons:[
                {
                    caption:"Read more",
                    btnStyles:[
                        "button--theme-unit-btn",
                        "button--black-bg",
                        "button--text-white"
                    ],
                    locationStyles:["unit__fix-btn-read-more-wrap"]
                }
            ],
            bgColor: "unit--theme-yellow"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            unitType: "twoBtnScroll",
            btnNextLayer0:[
                "button--theme-arrow",
                "button--arrow-next"
            ],
            btnNextLayer1:"icon--arrow-next-inside",

            mainInfoValue:"01",
            mainInfoStyles:[
                "unit__info--big-regular",
                "unit__info--letter-spacing4",
                "unit__info--black-text"
            ],
            supInfoSlash:"",
            supInfoValue:"/03",
            supInfoStyles:[
                "unit__info--supper",
                "unit__info--medium-regular",
                "unit__info--letter-spacing2",
                "unit__info--black-text"
            ],

            btnPrevLayer0:[
                "button--theme-arrow",
                "button--arrow-prev"
            ],
            btnPrevLayer1:"icon--arrow-prev-inside",
            bgColor: "unit--theme-info"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },

        {
            unitType: "iconButton",
            btnStyleLayer0: [
                "icon--theme-circle",
                "icon--blue-bg"
            ],
            btnStyleLayer1:["icon--theme-circle-bg"],
            btnStyleLayer2:["icon--theme-play-arrow"],
            locationStyles:["unit__company-video-wrap"],
            infoValue: "Company video",
            infoStyle: [
                "unit__info--small-regular",
                "unit__info--letter-spacing03",
                "unit__info--white-text",
                "unit__info--uppercase"
            ],
            bgColor: "unit--theme-blue"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        },
        {
            title:"Our services",
            titleStyles: [
                "unit__title--big-bold",
                "unit__title--med-width",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Our mission is to provide the highest level of service for our client-partners from concept through construction.",
            articleStyles:["unit__article--gray-text"],
            buttons:[]
        },

        {
            unitType: "foto",
            unitLayer: ["unit--bg-layer-unit"],
            unitLayerFoto: "unit__picture--theme-contr",
            bgColor: "unit--theme-foto"
        },

        {
            unitType: "arrow",
            unitLayer: "unit--bg-layer-unit",
            title:"General Contracting",
            titleStyles: [
                "unit__title--med-bold",
                "unit__title--med-width-h3",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.",
            articleStyles:["unit__article--gray-text"],
            arrowStyle: "unit__arrow--left",
            bgColor: "unit--theme-info"
        },

        {
            unitType: "foto",
            unitLayer: ["unit--bg-layer-unit"],
            unitLayerFoto: "unit__picture--theme-capital",
            bgColor: "unit--theme-foto"
        },

        {
            unitType: "twoBtnScroll",

            fixPaddingTop:["unit__fix-padding-unit-with-arrow-hower"],

            btnNextLayer0:[
            "button--theme-arrow",
            "button--arrow-next"
            ],
            btnNextLayer1:"icon--arrow-next-inside",

            mainInfoValue:"03",
            mainInfoStyles:[
                "unit__info--big-regular",
                "unit__info--fix-right-margin4",
                "unit__info--black-text",
                "unit__info--letter-spacing1"
            ],
            supInfoSlash:"/",
            slashStyles:[
                "unit__info--supper",
                "unit__info--medium-regular",
                "unit__info--black-text",
                "unit__info--left-right-margin5"
            ],
            supInfoValue:"06",
            supInfoStyles:[
                "unit__info--supper",
                "unit__info--medium-regular",
                "unit__info--black-text"
            ],

            btnPrevLayer0:[
                "button--theme-arrow",
                "button--arrow-prev-hover"
            ],
            btnPrevLayer1:"icon--arrow-prev-inside",
            bgColor: "unit--theme-info"
        },

        {
            unitType: "arrow",
            unitLayer: "unit--bg-layer-unit",
            title:"Project design and engineering",
            titleStyles: [
                "unit__title--med-bold",
                "unit__title--med-width-h3",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Through Stage-Gate, Design and Engineering methodology, DMCS ensure client-partners realize clearly defined project objective to achieve intended results.",
            articleStyles:["unit__article--gray-text"],
            arrowStyle: "unit__arrow--right",
            bgColor: "unit--theme-info"
        },

        {
            unitType: "foto",
            unitLayer: ["unit--bg-layer-unit"],
            unitLayerFoto: "unit__picture--theme-desing",
            bgColor: "unit--theme-foto"
        },

        {
            unitType: "arrow",
            unitLayer: "unit--bg-layer-unit",
            title:"Capital improvements",
            titleStyles: [
            "unit__title--med-bold",
            "unit__title--med-width-h3",
            "unit__title--black-text"
            ],
            hrLine: true,
            article: "This results in scope creep and slippage of the schedule that ultimately result in additional costs to the owner.",
            articleStyles:["unit__article--gray-text"],
            arrowStyle: "unit__arrow--up",
            bgColor: "unit--theme-info"
        },

        {
            unitType: "icon",
            icons:[
                {
                    iconLayer0: "icon--theme-pdf"
                }
            ],
            locationStyles:["unit__download-price-wrap"],
            infoValue: "Download price",
            infoStyle: [
            "unit__info--small-regular",
            "unit__info--letter-spacing03",
            "unit__info--black-text",
            "unit__info--uppercase"
            ],
            bgColor: "unit--theme-yellow"
        },

        {
            unitType: "icon",
            icons:[
                {
                    iconLayer0: "icon--theme-contact-circle",
                    iconLayer1: "icon--theme-contact-circle-bg"
                },
                {
                    iconLayer0: "icon--theme-play-arrow-down"
                }
            ],
            locationStyles:["unit__contact-us-wrap"],
            infoValue: "Contact us",
            infoStyle: [
            "unit__info--small-regular",
            "unit__info--letter-spacing03",
            "unit__info--white-text",
            "unit__info--uppercase"
            ],
            bgColor: "unit--theme-blue"
        },

        {
            unitType: "searchWithBg",
            unitLayer:"unit--bg-layer-unit",
            unitLayerFoto:"unit--bg-unit-width959",
            unitFoto:"unit__picture--theme-what",
            unitGeometry:"unit--horizontal-double-unit",
            locationStyles:["unit__form-search-wrap"],
            inputSearchValue: "What you're looking for",
            inputStyles:[
                "form__input--theme-unit-search",
                "form__input--border-bottom-only",
                "form__input--border-white"
            ],
            buttonStyles: [
                "form__button--right-button",
                "form__button--theme-search-button"
            ]
        }

    ];