-
    var unitsListData = [
        {
            unitGeometry:"unit--horizontal-double-unit",
            title:"building the world around us",
            titleStyles: [
                "unit__title--big-bold",
                "unit__title--big-width",
                "unit__title--black-text"
            ],
            hrLine: true,
            article: "Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.",
            articleStyles:["unit__article--black-text"],
            buttons:[
                {
                    caption:"Read more",
                    btnStyles:[
                        "button--theme-unit-btn",
                        "button--black-bg",
                        "button--text-white"
                    ],
                    locationStyles:["unit__fix-btn-read-more-wrap"]
                }
            ],
            bgColor: "unit--theme-yellow"
        },

        {
            title:"",
            hrLine: false,
            article:"",
            buttons:[]
        }
    ];