&__picture
  &--theme-contr
    width 293px
    height 293px
    background url("../img/contr.jpg") no-repeat center

  &--theme-desing
    width 293px
    height 293px
    background url("../img/desing.jpg") no-repeat left center

  &--theme-capital
    width 293px
    height 293px
    background url("../img/capital.jpg") no-repeat right

  &--theme-what
    height 293px
    background url("../img/what.jpg") no-repeat 100% 20%

  &--theme-good-hands
    position absolute
    width 586px
    height 293px
    background url("../img/good-hands.jpg") no-repeat
    background-size 100% auto

  &--theme-rest
    position absolute
    width 586px
    height 586px
    background url("../img/rest.jpg") no-repeat center