doctype html
html
    head
        meta(charset="utf-8")
        title My First web app
        link(rel='stylesheet' href='font-awesome-4.7.0/css/font-awesome.min.css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(rel='stylesheet' href='css/main.css')
    body
        // Шапка сайта
        //include header/header.pug
        //Тело сайта
        include body/home-page/home-page
        //Футтер
        include footer/footer.pug