&__number
  width 71px
  padding-top 19px
  padding-bottom 18px

  &--theme-yellow-bg
    background-color #ffe400

  &--text
    font-size 28px
    //font-weight 500
    font-family Montserrat-reg, sans-serif;
    color #363636

  &--centered-text
    text-align center